.imagen-actividades {
    height: 80vh;
    border-radius: 10px;
    object-fit: cover;
    animation-duration: 5s;
    animation-name: aparece-imagen;
}
.card-actividades {
    border: none;
}
.texto-actividades {
    text-align: justify;
}
@media screen and (max-width: 768px) {
     .imagen-actividades {
         object-fit: center;
         height: 40vh;
     }
}