h1 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 5rem;
    font-weight: bold;
    color: $naranjalogo;
    text-align: center;
    animation-duration: 5s;
    animation-name: aparece-imagen;
}
h2 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 3rem;
    font-weight: bold;
    color: $naranjalogo;
    text-align: center;
    animation-duration: 5s;
    animation-name: aparece-imagen;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1,5rem;
    font-weight: bold;
    color: $naranjalogo;
    text-align: center;
    animation-duration: 5s;
    animation-name: aparece-imagen;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
    color: $naranjalogo;
    font-weight: bold;
    animation-duration: 5s;
    animation-name: aparece-imagen;
    
}

p {
    text-align: center;
    color: grey ;
    font-size: 12px;
    animation-duration: 5s;
    animation-name: aparece-imagen;
}
@keyframes aparece-imagen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}