/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .logo-header {
        height: 100px;
        overflow: hidden;
        margin: 5px;
    }
    .texto-nav {
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
    }
    .navbar {
      display: block;
    }
    .navbar-light .navbar-nav .nav-link.active {
      color: $naranjalogo;
    }
    .boton-header {
      width: 150px;
      height: 40px;
      border-radius: 20px;
      border: none;
      font-family: 'Montserrat', sans-serif;
      background-color: black;
      margin-left: 15px;
      .btn {
        color: white;
        justify-content: center;
        text-align: center;
      }
    }
} 

/* Footer */

footer {
  nav {
    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      padding-left: 0;
      img{
        height: 30px;
        width: 30px;
        margin: 5px;
      }
    }
  }
} 

/* MEDIA QUERIE */

  @media screen and (max-width: 768px) {
    header {
       display: block; 
     }
}