header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
} 

.texto-nav {
    color: orangered;
    font-weight: bold;
}

.logo-header {
    height: 100px;
    overflow: hidden;
    margin: 5px; 
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
} 

footer div {
    margin: 5px;
} 

footer ul {
    display: flex;
    list-style: none;
}

footer ul img {
    height: 30px;
    width: 30px;
    margin: 5px;
} 

.imagen-inicio {
    height: 80vh;
    object-fit: cover;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    color: orangered;
    text-align: center
}

p {
    text-align: center;
    color: grey ;
}