* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Reset */
/* Header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .logo-header {
  height: 100px;
  overflow: hidden;
  margin: 5px;
}

header .boton-header {
  background-color: black;
  margin-right: 15px;
}

header .boton-header .btn {
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

/* Footer */
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul img {
  height: 30px;
  width: 30px;
  margin: 5px;
}

.slide-right {
  -webkit-animation: slide-right 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

.imagen-inicio {
  height: 85vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.titulo-inicio {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50px;
  left: 50px;
}

@media screen and (max-width: 768px) {
  .titulo-inicio {
    font-size: 3rem;
    left: 25px;
  }
  .imagen-inicio {
    -o-object-fit: center;
       object-fit: center;
    height: 70vh;
  }
}

.imagen-nosotros {
  border-radius: 8px;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: aparece-imagen;
          animation-name: aparece-imagen;
}

.texto-nosotros {
  text-align: justify;
}

@-webkit-keyframes aparece-imagen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparece-imagen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.imagen-actividades {
  height: 80vh;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: aparece-imagen;
          animation-name: aparece-imagen;
}

.card-actividades {
  border: none;
}

.texto-actividades {
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .imagen-actividades {
    -o-object-fit: center;
       object-fit: center;
    height: 40vh;
  }
}

.imagen-staff {
  border-radius: 8px;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: aparece-imagen;
          animation-name: aparece-imagen;
}

@keyframes aparece-imagen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .imagen-staff {
    -o-object-position: center;
       object-position: center;
    height: 60vh;
  }
}

.boton, header .boton-header, .boton-enviar, .boton-borrar {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  color: white;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.boton-enviar {
  background-color: #F15A24;
}

.boton-borrar {
  background-color: gray;
}

.form-control {
  width: 80%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  color: #F15A24;
  text-align: center;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: aparece-imagen;
          animation-name: aparece-imagen;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #F15A24;
  text-align: center;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: aparece-imagen;
          animation-name: aparece-imagen;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1,5rem;
  font-weight: bold;
  color: #F15A24;
  text-align: center;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: aparece-imagen;
          animation-name: aparece-imagen;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #F15A24;
  font-weight: bold;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: aparece-imagen;
          animation-name: aparece-imagen;
}

p {
  text-align: center;
  color: grey;
  font-size: 12px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: aparece-imagen;
          animation-name: aparece-imagen;
}

@keyframes aparece-imagen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */